<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>全局悬浮按钮.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6103BB8A1ED94FA9006F61A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6103BBA31ED94FA9006F61A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6103BBAE1ED94FA9006F61A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
